*{
    padding:0px;
    margin:0px;
    text-decoration:none;
}
/* ---------------------dark mode----------------------------------------------*/

:root{
    --primary-color:#edd8bf;
    --secondary-color:#f8ede3;
    --tertiary-color:#b67162;
    --quaternary-color:#cc7351;
    --quinary-color:#000106;
    
}
.dark-mode{
    --primary-color:#000106;
    --secondary-color: #000106;
    --tertiary-color: #fff;
    --quaternary-color:#fff;
    --quinary-color:#d8ac9c;
    
}

#mode{
    width:80px;
    cursor: pointer;
    color: var(--tertiary-color);
    text-align: center;
}
span{
    font-size: 15px;
}
 /* ---------------------------header section-------------------------------- */
.header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
     
}
.menu ul{
    width: 600px;
    display: flex;
    justify-content: space-around;
}
.menu li{
    list-style: none;
}
.menu{
    font-size: 20px;
    padding-right: 50px;
    font-family: 'Playfair Display', serif;
}
.menu li a{
    color: var(--tertiary-color);
    text-decoration: none;
}
.menu li a:hover{
    color:#d8ac9c;
}
.logo{
    font-size: 25px;
    padding-left:100px;
    color: var(--tertiary-color);
    font-family: 'Quattrocento', serif;
}

/* -----------------------------------home section----------------------------- */

.home-content{
    background-color: var(--primary-color);
    height: 100vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.greeting h1{
    font-size:120px;
    color: var(--tertiary-color);
}
.home-img img{
    width: 400px;
    height:400px
}
.name-home h2{
    font-family: 'Playfair Display', serif;
    font-size:75px;
    color: var(--tertiary-color);
}

.name-home p{
    font-family: 'Playfair Display', serif;
    font-size:20px;
    color: var(--tertiary-color);
}
.btn1{
    color:black;
    display: block;
    width: 130px;
    background-color: var(--tertiary-color);
    border-radius: 30px;
    font-size: 10px;
    padding: 8px 5px;
    text-align: center;
    border: 1px solid transparent;
    margin-top:20px;
} 
.btn1:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: #d8ac9c;
    color: var(--tertiary-color);
    border:none;
}  

/* -----------------------------About-Me Section------------------------------  */

#ABOUT{
    background-color: var(--secondary-color);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.image-about img{
    width: 300px;
    height: 400px;
    padding: 50px 0px 0px 100px;
}
.right-items{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
} 
.head{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

}
.title{
    font-size: 72px;
    font-family: 'Playfair Display', serif;
    color: var(--tertiary-color);
} 
.profesi{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: var(--quaternary-color);
}
.text-contents{
    width: 700px;
    text-align: justify;
}
.para1{
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    color: var(--quinary-color);
} 
.button-class{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;  
}
button{
    border:none;
    background-color: var(--secondary-color);
}
.btn2-cv{
    color: black;
    display: block;
    width: 130px;
    background-color: var(--tertiary-color);
    border-radius: 30px;
    font-size: 10px;
    padding: 8px 5px;
    text-align: center;
    border: 1px solid transparent;
    font-family: 'Playfair Display', serif;
}
.btn2-cv:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: #d8ac9c;
    color: var(--tertiary-color);
    border:none;
} 
.social-links1{ 
    padding-left: 50px; 
    display: flex;
    flex-direction: column;
    text-align: center; 
}
.social-links1 i{
    color: var( --quaternary-color);
}
.social-links1 a{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: 20px;
}


/* ----------------------- Experience Section ----------------------*/

.experience-section{
    background-color: var(--primary-color);
    height: 100vh;
    width: 100%;
}
.title-exp{
    font-size: 72px;
    font-family: 'Playfair Display', serif;
    color: var(--tertiary-color);
    padding-top: 50px;
    text-align: center;
}
.experience{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 0px 0px 150px;
}

/* Education Section */

.education{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.title-edu{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: var(--quaternary-color);
    text-decoration: underline;

}
.graduated1, .graduated2{
    font-family: 'Source Serif Pro', serif;
    color: var(--quinary-color);
    padding-top: 10px;
    font-weight: bold;
}
.graduated1{
    font-size: 15px;
}
.graduated2{
    font-size: 15px;
}
.degree{
    font-family: 'Source Serif Pro', serif;
    color: var(--quaternary-color);
    font-weight: bold;
    font-size: 20px;
}
.list-edu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
}
.list-edu li{
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    color: var(--quinary-color);
    
}

/* Work Experience */

.work{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left:25px;
}
.title-work{
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: var(--quaternary-color);
    text-decoration: underline;
}
.date-intern,.intern{
    font-family: 'Playfair Display', serif;
    color: var(--quaternary-color);
    padding-top: 10px;
}
.list-work1{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-work1 li{
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    color: var(--quinary-color);
}
.second-work h3, .second-work h4{
    font-family: 'Playfair Display', serif;
    color: var(--quaternary-color);
    padding-top: 10px;
}
.list-work2{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.list-work2 li{
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    color: var(--quinary-color);
}

/* ----------------------------Contact Section--------------------- */

.contact-section{
    background-color: var(--secondary-color);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title-contact h2{
    font-size: 72px;
    font-family: 'Playfair Display', serif;
    color:  var(--tertiary-color);
    padding-top: 10px;
}
.title-contact h3{
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: var(--quaternary-color);
    padding-top: 10px;
    text-align: center;
}
.button-contact{
    padding-top: 30px;
}
.button-contact i,.button-contact span, .button-contact p{
    color: #aa4a30;
}
.btnc-1, .btnc-2, .btnc-3{
    background-color: #d8ac9c;
    display: inline-block;
    font-size: 12px;
    border: 3px solid transparent;
    width:150px;
    height: 80px;
    border-radius: 30px;
    font-family:'Playfair Display', serif;
}
.contact-me h2{
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    color: var(--quaternary-color);
    padding-top: 30px;
}
.flex-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}
.flex-form h4{
    font-family: 'Source Serif Pro', serif;
    font-size: 15px;
    color: var(--tertiary-color);
    font-weight: bold;
}
.name,.email,.textarea{
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--tertiary-color);
}
.name,.email{
    height: 25px;
    width: 200px;
}
.textarea{
    height: 80px;
    width: 200px;
}
.contact-submit{
    display: flex;
    align-items: center;
    color: black;
    display: block;
    width: 130px;
    background-color: var( --quaternary-color);
    border-radius: 30px;
    font-size: 10px;
    padding: 8px 5px;
    text-align: center;
    border: 1px solid transparent;
    margin-top: 10px;
    font-family: 'Playfair Display', serif;
}
.contact-submit:hover{
    text-decoration: underline;
    cursor: pointer;
    background-color: #d8ac9c;;
    color: var( --quaternary-color);
} 

/* ----------------------Footer Section-------------------------- */

.footer-section{
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-links2{
    font-size: 15px;
    color: var(--tertiary-color);
    font-family: 'Playfair Display', serif;
    padding-left: 50px;
}
.social-links2 a{
    padding-right: 40px;
}
.social-links2 i{
    color: var(--tertiary-color);
}
.copy-right p{
    font-size: 15px;  
    font-family: 'Playfair Display', serif; 
}
.title-footer h4{
    font-size: 20px;
    color: var(--tertiary-color);
    padding-right: 50px;
    font-family: 'Playfair Display', serif; 
}